figure
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.project
    background-color: transparent
    cursor: pointer
    min-height: 65vh

.project-demo
    max-height: 80vh
    margin: 0
    padding: 0

.card-body
    margin-top: 1rem
    display: flex
    flex-direction: column
    justify-content: space-evenly
    flex: 1
    &> .button 
        margin-top: 2rem
        margin-bottom: 2rem

figure .title
    padding: 1rem

.widthy
    max-width: 50rem
    margin-left: auto
    margin-right: auto

.is-previous
    position: absolute
    left: 0
    z-index: 1
.is-next
    position: absolute
    right: 0
    z-index: 1