extends layout
block content
    .section
        include breadcrumbs
        .container
            +breadcrumbs('breadcrumbs', 'home', 'blog')
        .container
            .has-margin
                h3.title.is-3.has-text-centered <u> Blog </u>
                .card.has-background-black.has-radius.shadowed
                    .card-header
                        .card-header-title.is-col-flexed
                            h5.title.is-5.has-text-centered 
                                | Typescript with React: Angular Killer? 
                            h7.subtitle.is-7.is-stretched.has-text-centered
                                | By: <em>Joseph Abouharb</em>  
                    .card-content.is-flex.is-col-flexed.is-centered-flex
                        p.has-text-white.has-text-centered
                            | In this article I will go through the
                            | steps on how to set up React with TypeScript Support.
                            | I will share on my thoughts on what this means going further
                            | in the front end development scene...<br/>
                        a.has-text-light.has-text-centered  << read more >>
            .has-margin
                .card.has-background-black.has-radius.shadowed
                    .card-header
                        .card-header-title.is-col-flexed
                            h5.title.is-5.has-text-centered 
                                | My First experience with python
                            h7.subtitle.is-7.is-stretched.has-text-centered
                                | By: <em> Joseph Abouharb </a>
                    .card-content.is-flex.is-col-flexed.is-centered-flex
                            p.has-text-white.has-text-centered
                                | What can I say? I absolutely love this language.
                                | With an elegant syntax, Python is extremely readable and consise.
                                | I will attempt to discuss how python taught me to be a better programmer
                                | and also touch upon some of the things I learned...
                            a.has-text-light.has-text-centered  << read more >>
            .section
                nav.pagination.is-centered(role='navigation', aria-label='pagination')
                    a.pagination-previous.has-text-black(title='This is the first page', disabled='') Previous
                    a.pagination-next.has-text-light Next page
                    ul.pagination-list
                        li
                            a.pagination-link.is-current(aria-label='Page 1', aria-current='page') 1
                        li
                            a.pagination-link(aria-label='Goto page 2') 2
                        li
                            a.pagination-link(aria-label='Goto page 3') 3


                            