header#header.hero-head.is-mono-font.headroom.shadowed
    nav.navbar.is-dark
        .container.is-fluid
            .navbar-brand
                a.navbar-item(href="index.pug")
                    h5.title.is-5 return home<span>;</span>
                span.navbar-burger.burger
                    span 
                    span 
                    span 
            #navMenu.navbar-menu 
                .navbar-end
                    a.navbar-item.has-text-weight-semibold(
                        href="about.pug"
                    ) About
                    a.navbar-item.has-text-weight-semibold(
                        href="blog.pug"
                    ) Blog
                    a.navbar-item.has-text-weight-semibold(
                        href="projects.pug"
                    ) Projects

    
