extends layout
block content
    .section
        .container.is-col-flexed.center-self.is-centered-flex
            figure.image.img-size.has-margin
                img.center-self.is-rounded.shadowed(
                    src="./res/img/profile.jpeg"
                    alt="profile pic")
            .card.has-radius.has-background-black.shadowed.is-flex.is-col-flexed.is-centered-flex
                .media-content.is-centered-flex.has-padding
                    h2.title.is-2.is-serif.has-text-centered Joey: Junior App Developer
                    h5.subtitle.is-5.has-text-centered
                        |<em>Security Bootcamp Dip.<br/> @Coderacademy</em>
                .card-content.section
                    pre.container.is-paddingless.has-text-light
                        code.is-mono-font.has-background-black. 
                            const joey = () =&gt; {
                              return {
                                about: <a href="about.pug"> () => about </a>,
                                blog: <a href="blog.pug"> () => blog </a>,
                                projects: <a href="projects.pug"> () => projects </a>,
                                contact: <a href="about.pug#Contact"> () => contact </a>,
                              };
                            };
                            const roles = () =&gt; {
                              return [
                                'full-stack',
                                'web dev',
                                'scripting',
                                'security analysis',
                                'front-end'
                              ];
                            };

