extends layout
block content
    .hero-body
        .container
            .columns.is-centered-flex.is-centered.has-margin
                .column.is-one-third.has-margin
                    p.has-text-centered fdsfdfs
                .column.is-one-third.has-margin
                    p.has-text-centered dfsdfsdf
                .column.is-one-third.has-margin
                    p.has-text-centered dfsdfsdf
