extends ../layouts/layout
block content
    main.has-margin.has-padding
        .section
        .has-slight-radius.has-background-black.shadowed
            .section
                .is-flex.is-row-flexed.is-centered-flex
                    .is-flex.is-col-flexed.is-flexed-to-start
                        h2.title.is-3.is-serif.has-text-centered Joey: Junior App Developer
                        h3.subtitle.is-5.has-text-centered
                            | Security Bootcamp Dip.
                            <br/> @Coderacademy
                    .has-padding-left
                        figure.image.img-size
                            img.is-rounded.shadowed(
                                src="../res/img/profile-new.jpg"
                                alt="profile pic")
                pre.shadowed.disable-selection.has-margin-top
                    code.hljs
                        | const site_map = () =&gt; {
                        |   return {
                        |     #[span about:] #[a.has-text-light(href="about"+ext) () =&gt; about,]
                        |     #[span blog:] #[a.has-text-light(href="blog"+ext) () =&gt; blog,]
                        |     #[span projects:] #[a.has-text-light(href="projects"+ext) () =&gt; projects,]
                        |     #[span contact:]  #[a.has-text-light(href="about"+ext+"#contact") () =&gt; contact,]
                        |   };
                        | };
                        | const roles = () =&gt; {
                        |   return [
                        |     'Full-Stack',
                        |     'Server Stack and API Development',
                        |     'Linux / Windows',
                        |     'Scripting',
                        |     'Security and Testing',
                        |     'Front-End Design',
                        |     ];
                        |};
            .section
    script(
        src="../res/js/highlight.js" defer
    )
