extends ../layouts/layout
block content
    main.section
        .section
        .container
            .is-flex.is-around.flex-wrap.has-slight-radius.has-background-black.shadowed
                .is-flex.is-row-flexed.is-centered-flex.flex-wrap
                    .is-flex.is-col-flexed.is-flexed-to-start.align-self.flex-wrap
                        h2.title.is-3.is-serif.has-text-centered Joey Abouharb
                        h3.subtitle.is-5.has-text-centered
                            | .NET Full Stack Developer
                            <br/> @Pen CS
                    .has-padding-left
                        figure.image.img-size
                            img.is-rounded.shadowed(
                                src="../res/img/profile-new.jpg"
                                alt="profile pic")
                pre.shadowed.disable-selection.has-margin-top.has-margin-bottom
                    code.hljs
                        | const #[span.has-text-primary site_map] = () =&gt; {
                        |   return {
                        |     #[span about:] #[a.link.pre-link(href="about"+ext) () =&gt; about,]
                        |     #[span blog:] #[a.link.pre-link(href="blog"+ext) () =&gt; blog,]
                        |     #[span projects:] #[a.link.pre-link(href="projects"+ext) () =&gt; projects,]
                        |     #[span contact:]  #[a.link.pre-link(href="about"+ext+"#contact") () =&gt; contact,]
                        |   };
                        | };
                        | const #[span.has-text-primary roles] = () =&gt; {
                        |   return [
                        |     'Windows Application Development'
                        |     'Business Intelligence / Reporting'
                        |     'Server Stack and API Development',
                        |     'Linux / Windows',
                        |     'Shell Scripting (Bash / Powershell)',
                        |     'Security and Application Testing',
                        |     'Front-End Design',
                        |     ];
                        |};
    script(
        src="../res/js/highlight.js" defer
    )
