extends ../layouts/layout
block content
    main.section
        include ../includes/breadcrumbs
        .has-margin-top.has-background-black.has-slight-radius
            +breadcrumbs('breadcrumbs', 'index', 'projects')
        section
            h2.title.is-3.has-margin-top.has-text-centered Projects
            .siema
                .project.card.has-background-black.is-flex.is-col-flexed.has-slight-radius.is-between
                    figure.align-self
                        img#demo0.project-demo.has-slight-radius( alt='card game')
                        h3.title.is-4.has-text-centered
                            | Card Game: Idiot
                    .card-body.is-flex.is-col-flexed.is-centered-flex
                        p.has-padding-left.scale-content
                            | Card game prototyped in Python and playable through Terminal

                        a.button.is-grey(href="#") Source
                .project.card.has-background-black.is-flex.is-col-flexed.has-slight-radius.is-between
                    figure.align-self
                        img#demo1.image.project-demo( alt='Banking App')
                        h3.title.is-4.has-text-centered
                            | Banking App
                    .card-body.is-flex.is-col-flexed.is-centered-flex
                        p.has-padding-left.scale-content
                            | Banking System with full Functionality!
                            | Login, withdraw, check balance and deposit into your account!
                        a.button.is-grey(href="#") Source
                .project.card.has-background-black.is-flex.is-col-flexed.has-slight-radius.is-between
                    figure.align-self
                        img#demo2.image.project-demo( alt='mock data app')
                        h3.title.is-4.has-text-centered
                            | Seed Data
                    .card-body.is-flex.is-col-flexed.is-centered-flex
                        p.has-padding-left.scale-content Python Script to help with generating and seeding a database
                        a.button.is-grey(href="#") Source
                .project.card.has-background-black.is-flex.is-col-flexed.has-slight-radius.is-between
                    figure.align-self
                        img#demo3.image.project-demo( alt='quiz')
                        h3.title.is-4.has-text-centered
                            | Quiz!
                    .card-body.is-flex.is-col-flexed.is-centered-flex
                        p.has-padding-left.scale-content 
                            | Questionaire application in terminal written in python.
                            | Asks 10 questions from a list of 20, randomly chosen!

                        a.button.is-grey(href="#") Source
            #button-selectors.is-flex.is-row-flexed.has-background-black.justify-evenly.has-radius.has-padding.has-slight-radius

    script(src="../res/js/carousel.js" defer)