mixin breadcrumbs(id, ...crumbs)
    nav.breadcrumb.shadowed.has-slight-radius.has-padding(aria-label="breadcrumbs")
        ul(id=id)
            each item in crumbs
                li.crumbs
                    a.link.crumb-link(href='./'+item+ext)=item

