header#header.hero-head.is-mono-font.headroom.shadowed
    nav.navbar.is-dark
        .container.is-fluid
            .navbar-brand
                a.navbar-item(href="index.pug")
                    h1.title.is-7.is-mono-font joey@dev
                span#collapse-menu.navbar-burger.burger
                    span 
                    span 
                    span 
            #navMenu.navbar-menu 
                .navbar-end
                    a.navbar-item(
                        href="about.pug"
                    ) About
                    a.navbar-item(
                        href="blog.pug"
                    ) Blog
                    a.navbar-item(
                        href="projects.pug"
                    ) Projects

    
