header#header.hero-head.is-mono-font.headroom
    nav.navbar.is-dark
        .container.is-fluid
            .navbar-brand
                a.navbar-item(href="index"+ext)
                    h1.title.is-5.is-mono-font.brand.is-flex #[ joey@dev~:$] #[div.blink-me.is-bottom]
                span#collapse-menu.navbar-burger.burger.has-text-4
                    span 
                    span 
                    span 
            #navMenu.navbar-menu 
                .navbar-end
                    a.navbar-item(
                        href="./about"+ext
                    ) About
                    a.navbar-item(
                        href="./blog"+ext
                    ) Blog
                    a.navbar-item(
                        href="./projects"+ext
                    ) Projects

    
