header#header.hero-head.is-mono-font.headroom
    nav.navbar.is-dark
        .container.is-fluid
            .navbar-brand
                a.navbar-item(href="index"+ext)
                    h1.title.is-7.is-mono-font joey@dev
                span#collapse-menu.navbar-burger.burger
                    span 
                    span 
                    span 
            #navMenu.navbar-menu 
                .navbar-end
                    a.navbar-item(
                        href="./about"+ext
                    ) About
                    a.navbar-item(
                        href="./blog"+ext
                    ) Blog
                    a.navbar-item(
                        href="./projects"+ext
                    ) Projects

    
